*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

/*The global container*/
.container{
    height: 100vh;
    width : 100%;
    display: flex;
    flex-direction: column;
}

/*The page head*/
.head{
    order:0;
    flex-basis: 15%;
    height : 15vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
}

/*The page head - making tiny grey border under it*/
.head:before{
    content:"";
    position: absolute;
    bottom:0;
    width: 100%;
    height:1px;
    background-color: rgba(223, 217, 217, 0.712);
    
}

/*The page head - logo div*/
#head-logo{
    order :0 ;
    height : 7vh;
    justify-content: center;
}

/*The page head - logo div - styling the logo*/
#head-logo h2{
    margin: 2vh 0 0 5%;
    letter-spacing: 2px;
}

/*The page head - navbar div*/
#head-nav-div{
    order :1 ;
    height : 6vh
}

/*The page head - navbar div - styling the <ul> tag*/
#head-nav-list{
    width:inherit;
    height:inherit;
    display: flex;
    flex-direction: row;
}

/*The page head - navbar div - styling options*/
#head-nav-list-element{
    height: inherit;
    width : 50%;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

/*The page head - Adding hover effect on nav-bar options*/
#head-nav-list-element:hover{
    color : rgb(48, 190, 143) ;
}

/*The page head - navbar div - styling options text*/
#head-nav-list-element h4{
    letter-spacing: 1px;
}

/*Styling the common properties between (stopwatch section) and (button section)*/
.stopwatch, .button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
}

/*Styling (Stopwatch section) */
.stopwatch{
    order:1;
    flex-basis: 75%;
    flex-direction: column;
}

/*Stopwatch section - Making tiny border under it*/
.stopwatch:before{
    content:"";
    position: absolute;
    bottom:0;
    width: 100%;
    height:1px;
    background-color: rgba(223, 217, 217, 0.712);
    
}
/*Stopwatch section - styling the stopwatch counter text*/
#stopwatch-counter{
    font-size: 4.5rem;
    color:rgb(48, 190, 143);
    letter-spacing: 3px;
    
}

/*Stopwatch section - Styling time elements before clicking start*/
#stopwatch-counter span{
    opacity:0.5;
}

/*Stopwatch section - Disappearing the hour span*/
#hour-zero , #hour{
    display:none
}

/*Styling (Button section) */
.button{
    order:2;
    flex-basis: 9%;
}

/*Button section - Styling the buttons size*/
#btn-div , #start-btn , #after-start-btn {
    width: 100%;
    height: 100%;
}

/*Button section - Styling the buttons text*/
#start-btn ,#reset-btn , #resume-btn{
    border: none;
    background-color: #fff;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    
}

/*Button section - disappearing buttons that appear after clicking start*/
#after-start-btn{
    display: none;
    align-items: center;
    justify-content: center;
}

/*Button section - Styling the (after-start) buttons size*/
#reset-btn , #resume-btn{
    height: 100%;
    flex-basis: 50%;
}

/*Button section - The start and reset buttons outline border color and text color*/
#start-btn , #reset-btn{
    outline-color: rgb(48, 190, 143);
    color:rgb(48, 190, 143) ;
}

/*Button section - The resume button outline border color and text color*/
#resume-btn{
    outline-color: green;
    color:green;
}

