
/*Styling the common properties between (stopwatch section) and (button section)*/
.stopwatch, .button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
}

/*Styling (Stopwatch section) */
.stopwatch{
    order:1;
    height: 75%;
    margin-top: 2px;
    flex-direction: column;
}

span{
    transition: transform 1s ease-in-out;
}
/*Stopwatch section - Making tiny border under it*/
.stopwatch:before{
    content:"";
    position: absolute;
    bottom:0;
    width: 100%;
    height:1px;
    background-color: rgba(223, 217, 217, 0.712);
    
}
/*Stopwatch section - styling the stopwatch counter text*/
#stopwatch-counter{
    font-size: 4.5rem;
    color:rgb(48, 190, 143);
    letter-spacing: 3px;
    
}

/*Stopwatch section - Styling time elements before clicking start*/
#stopwatch-counter span{
    opacity:0.5;
}

/*Stopwatch section - Disappearing the hour span*/
#hour-zero , #hour{
    display:none
}

/*Styling (Button section) */
.button{
    order:2;
    flex-basis: 9%;
}

/*Button section - Styling the buttons size*/
#btn-div , #start-btn , #after-start-btn {
    width: 100%;
    height: 100%;
}

/*Button section - Styling the buttons text*/
#start-btn ,#reset-btn , #resume-btn{
    border: none;
    background-color: #fff;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    
}

/*Button section - disappearing buttons that appear after clicking start*/
#after-start-btn{
    display: none;
    align-items: center;
    justify-content: center;
}

/*Button section - Styling the (after-start) buttons size*/
#reset-btn , #resume-btn{
    height: 100%;
    flex-basis: 50%;
}

/*Button section - The start and reset buttons outline border color and text color*/
#start-btn , #reset-btn{
    outline-color: rgb(48, 190, 143);
    color:rgb(48, 190, 143) ;
}

/*Button section - The resume button outline border color and text color*/
#resume-btn{
    outline-color: green;
    color:green;
}

