/*Timer section*/
*::selection{
    background-color: rgba(48, 190, 143, 0.61);
}
.timer{
    order:1;
    height: 75vh;
    width:100%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}


/*The timer elements block*/
#timer-block{
    width:70%;
    height:85%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*The timer elements | common properties between time elements names, their values and arrows*/
#time-elements-names , #time-elements-values ,#arrows{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/*The timer elements | time elements names size*/
#time-elements-names{
    flex:20%
}

/*The timer elements | Arrows */
/*Arrows | arrows size */
#arrows{
    flex:10%
}

/*Arrows | arrows button*/
#arrows button{
    border: none;
    outline: none;
    background-color: #fff;
    color: rgb(48, 190, 143);
    border-radius: 5px;
    height: 98%;
    padding:0 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

/*Arrows | arrows button hover*/
#arrows button:hover{
    background-color:rgb(48, 190, 143) ;
    color:#fff
}

/*Arrows | arrows icons*/
#arrows button i{
    font-size: 30px;
}

/*The timer elements | Time values*/
/*Time values | time values size*/
#time-elements-values{
    position: relative;
    flex:60%;
    overflow: hidden;
}

/*Time values | Making upper and lower border for the div*/
#time-elements-values:before,
#time-elements-values:after{
    content:"";
    position: absolute;
    width: 100%;
    height:1px;
    background-color: rgb(102 101 101 / 32%);;
}

#time-elements-values:before{
    top:0;
}
#time-elements-values:after{
    bottom:0;
}

/*Time values | Styling the double dots between:hours, minutes and seconds*/
#time-elements-values h1{
    color: rgb(48, 190, 143);
    font-size: 25px;
}

/*Time values | Adding margin between each value and the another*/
#time-elements-values h2{
    margin:35px 0;
    overflow:hidden
}

/*Time values | Styling the time values classes : center, between and last*/
.center{
    color:rgb(48, 190, 143);
    transform: scale(1.5)
}
.between{
    opacity:0.5;
    transform: scale(1.1);
}

.last{
    opacity: 0.3;
    transform: scale(0.9);
}

/*Making the pseudo double dots invesible*/
#pseudo{
    visibility: hidden;
}

/*Container | Buttons*/
.buttons{
    order:2;
    flex-basis: 9%;
    width:99%;
    margin: 0 auto ;
    position: relative;
}

.buttons:before{
    content:"";
    height: 1px;
    width:100%;
    position: absolute;
    top:0;
    background-color:rgba(180, 177, 177, 0.753)
}

/*Styling Buttons div*/
#start-btn-div,
#start-btn-div button,
#after-start-btn-div{
    height: 100%;
    width:100%;
}

/*Buttons | Hiding buttons that appear after clicking start*/
#after-start-btn-div{
    display: none;
    justify-content: space-between;
}

/*Buttons | Styling the common properties between buttons*/
#start-btn-div button ,
#after-start-btn-div button{
    border: none;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight:600 ;
    background-color: #fff;
    outline: none;
    
}

#start-btn{
    opacity: 0.5;
}
/*Start button | text and outline color*/
#start-btn-div button{
    color: rgb(48, 190, 143);
}
#start-btn-div button:hover{
    border:2px solid rgba(0, 0, 0, 0);
}
 #reset-btn:hover{
    border:2px solid rgb(48, 190, 143);
}


/*After start buttons | Buttons size*/
#after-start-btn-div button{
    flex:48%;
    
    cursor: pointer;
    
}


/*Reset button | text and outline color*/
#reset-btn{
    color:rgb(48, 190, 143);
    
}

/*Stop button | text and outline color*/
#stop-btn{
    color:red;
    
}

#stop-btn:hover{
    border: 2px solid red;
}

/*Resume button | text and outline color*/
#resume-btn{
    color:green;
    
}

#resume-btn:hover{
    border:2px solid green
}




/*Timer countdown div*/
#timer-countdown{
    width:70%;
    height:100%;
    display: none;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    perspective: 100px;
    transform-style: preserve-3d;
}

#countdown-elements{
    height: 200px;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 500;
    position: absolute;
    top: calc(50% - 100px);
    animation: countdown-begin-anim 0.8s ease-out 1;
    transition:transform 0.8s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(48, 190, 143);
    
}

#countdown-elements span{
    
    display: block;
    
}
#timer-countdown svg{
    transform: rotate(270deg);
    transition:transform 0.8s ease-in;
    width:100%;
    height:100%;
    overflow: visible;
    animation: countdown-begin-anim 0.8s ease-out 1 ;
    
    
}

@keyframes countdown-begin-anim{
    from{
        transform: translateZ(60px);
    }
    to{
        transform: translateZ(0);
    }
}
#timer-countdown svg circle{
    transition:transform 0.8s ease-in;
    stroke-width: 10px;
    transform-origin: center;
    fill: none;
    
}

#timer-bottom-circle{
    stroke: lightgrey;
}

@media screen and (max-width :1250px){
    #timer-countdown{
        width:85%;
        height:105%
    }
}
@media screen and (max-width :1100px){
    #timer-countdown{
        width:95%;
        height:115%
    }
}
@media screen and (max-width :900px){
    #timer-countdown{
        width:100%;
        height:140%
    }
}


@media screen and (max-width :750px){
    #timer-countdown{
        width:100%;
        height:120%
    }
}